###############################################################################
# Build
###############################################################################

09-Build/
00-Documents/04-Latex/report/build/*
!00-Documents/04-Latex/report/build/main.pdf
###############################################################################
# GHDL
###############################################################################

*.cf
*.ghw
*.vcd
*.bak
###############################################################################
# Questa
###############################################################################

work/
transcript
vsim.wlf

###############################################################################
# Vivado
###############################################################################

.Xil/
.cache/
.hw/

*.jou
*.log
*.str

###############################################################################
# VSCode
###############################################################################

.vscode/

###############################################################################
# Python        
###############################################################################

*.pyc

###############################################################################
# Temporary
###############################################################################

*~
*.tmp
*.Identifier
*.bkp