###############################################################################
# Build
###############################################################################

09-Build/

###############################################################################
# GHDL
###############################################################################

*.cf
*.ghw
*.vcd

###############################################################################
# Questa
###############################################################################

work/
transcript
vsim.wlf

###############################################################################
# Vivado
###############################################################################

.Xil/
.cache/
.hw/

*.jou
*.log
*.str

###############################################################################
# VSCode
###############################################################################

.vscode/

###############################################################################
# Python        
###############################################################################

*.pyc

###############################################################################
# Temporary
###############################################################################

*~
*.tmp
*.Identifier
*.bkp